@font-face {
    font-weight: 700;
    font-family: "Onest";
    src: url(../fonts/Onest-Bold.ttf);
}
@font-face {
    font-weight: 600;
    font-family: "Onest";
    src: url(../fonts/Onest-SemiBold.ttf);
}
@font-face {
    font-weight: 500;
    font-family: "Onest";
    src: url(../fonts/Onest-Medium.ttf);
}
@font-face {
    font-weight: 400;
    font-family: "Onest";
    src: url(../fonts/Onest-Regular.ttf);
}
@font-face {
    font-weight: 300;
    font-family: "Onest";
    src: url(../fonts/Onest-Light.ttf);
}